@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

h1,
h2,
p,
a {
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
}
h1 {
  font-size: 5em;
  font-weight: 900;
  text-transform: uppercase;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.page {
  background: linear-gradient(130.02deg, #628e75 0.66%, #1a4855 83.32%);
  box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
  padding: 100px;
  display: flex;
  flex-direction: column;
}
.page-header {
  display: flex;
  height: 100px;
  align-items: center;
  padding-bottom: 50px;
}
.page-header-logo {
  width: 100%;
  flex: 1;
}
.page-header-logo img {
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
}
.page-header-menu {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 10px;
}
.icon {
  stroke: #f9f9f9;
  fill: transparent;
  stroke-width: 2px;
}
.icon.instagram {
  fill: #f9f9f9;
  stroke-width: 1px;
}

.page-content {
  display: flex;
}
.page-content-infos {
  flex: 1;
  padding: 82px 0;
}
.page-content-infos p {
  max-width: 500px;
  padding-bottom: 50px;
}
.btn-trailer {
  padding: 10px 40px;
  background: url(./image/vector1.svg);
  background-size: cover;
  background-position: center;
}
.btn-now {
  margin-left: 30px;
  padding: 10px 40px;
  background: url(./image/vector2.svg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.page-content-img {
  flex: 1;
  animation: seta 0.5s ease-in 0s infinite alternate;
  position: relative;
}
.page-content-img img {
  width: 80%;
  min-width: 300px;
}
@keyframes seta {
  from {
    top: 50px;
  }
  to {
    top: 10px;
  }
}
@media (max-width: 1000px) {
  .page {
    padding: 30px;
  }
  .page-header {
    height: 10px;
    padding-top: 20px;
  }
  .page-header-menu {
    flex: 1;
    gap: 10px;
  }
  .page-header-menu a {
    width: 80%;
  }
  .page-content {
    display: flex;
    flex-direction: column;
  }
  .page-content-infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .page-content-infos h1 {
    font-size: 2.5em;
  }
  .page-content-infos h2 {
    font-size: 1.5em;
  }
  .btn-now,
  .btn-trailer {
    margin-left: 0;
    padding: 10 30px;

    width: 150px;
  }
  .page-content-img {
    order: -1;
  }
  .page-content-img img {
    max-width: 50%;
  }
}
